.Background {
    background: rgb(83, 76, 214);
    background: linear-gradient(90deg, rgb(56, 134, 236) 0%, rgba(0,212,255,1) 50%, rgb(37, 149, 241) 100%);
    background: white;
    height: 100%;
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.profpic {
    height: 250px;
    border-radius: 50%;
    border:1px solid black;

}

.links {
    text-align: center;

}

