.Background {
  background: rgb(153, 152, 160);
  background: linear-gradient(
    90deg,
    rgb(56, 134, 236) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgb(37, 149, 241) 100%
  );
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: gray;
  font-size: 40px;
}

.linear-wipe {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(
    to right,
    #ee7752 20%,
    #e73c7e 40%,
    #23a6d5 60%,
    #23d5ab 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.headers {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 5rem;
  font-weight: 10;
  letter-spacing: 2px;
  text-align: center;
  color: #f35626;
  background-image: linear-gradient(to right, #447cf5, #1ff5c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.bioDiv {
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bio {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.profpic {
  height: 300px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.links {
  text-align: center;
}
.link {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-size: 30px;
}
.text1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.icon {
  height: 64px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.iconspec {
  height: 64px;
  display: inline-block;
}

.icon2 {
  height: 96px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
}
.desc {
  font-size: 25px;
  font-family: 'Roboto';
}

.titletype {
  margin-top: 10px;
  font-size: 25px;
  color: #555;
  font-family: 'Montserrat', sans-serif;
}

.smallpic {
  height: 32px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-size: 30px;
}

.bottomtext {
  text-align: right;
  font-size: 15px;
}
